body {
	margin: 0;
	font-family:'Raleway', sans-serif;;
	font-size: 14px;
	line-height: 1.6;
	color: #6c7279
}


*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*Container*/
.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

/*Intro*/
.intro {
	display: flex;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	height: 100vh;
	min-height: 750px;
	background: url(/home/rashid/portfolio/activeBox/image/intro.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 920px;
	text-align: center;
	margin: 0 auto;
}

.intro__title {
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	margin: 0 auto;
}

.intro__text {
	font-size: 22px;
}

.intro__btn {
	display: inline-block;
	padding: 18px 55px;
	margin-top: 80px;
	
	background-color: #d84d46;

	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

/*Header*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 30px 0;
	border-bottom: 1px solid #4e5167;
}

.logo {
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}

.activebox {
	color: #66697e;
	font-weight: 700;
}

/*Nav*/
.nav {
	text-transform: uppercase;
} 

.nav__link {
	display: inline-block;

	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
	color: #e5e8e6;
	margin-left: 55px;
}

/*Navtoggle*/
.nav__toggle {
	display: none;
	width: 30px;
	padding: 10px 0;
	
	font-size: 0;
	background: none;
	border: 0;

	position: absolute;
	top: 45px;
	right: 45px;

	cursor: pointer;
}

.nav__toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.nav__toggle__item:before,
.nav__toggle__item:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;
}

.nav__toggle__item:before {
	top: -8px;
}

.nav__toggle__item:after {
	bottom: -8px;
}

.nav__toggle.active .nav__toggle__item {
	background: none;
}

.nav__toggle.active .nav__toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translateX(-3px);
}

.nav__toggle.active .nav__toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translateX(-3px);
}

/*Section*/
.section {
	padding: 100px 0;
}

/*Features*/
.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1075px;
	margin: 0 auto -70px;
}

.features__item {
	width: 30%;
	margin-bottom: 70px;
	text-align: center;
}

.features__title {
	margin-top: 30px;

	text-transform: uppercase;
	font-weight: 700;
	color: #2d3033;
}

.features__text {
	margin-bottom: 0;
}

/*Works*/
.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.works__item {
	width: 24.95%;
	border-bottom: 1px solid #fff;

	position: relative;
	transition: background-color .2s linear;
}

.works__item:hover {
	background-color: #e74545;
}

.works__img {
	display: block;
	width: 100%;
	transition: opacity .2s linear;
}

.works__item:hover .works__img {
	opacity: .1;
}

.works__content {
	opacity: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;

	color: #fff;
	text-align: center;

	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity .2s linear;
}

.works__item:hover .works__content {
	opacity: 1;
}

.works__name {
	text-transform: uppercase;
	font-weight: 700;
}

/*Team*/
.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team__item {
	width: 23%;
}

.team__header {
	margin-bottom: 20px;
}

.team__img {
	display: block;
	width: 100%;
	height: auto;
}

.team__name {
	font-size: 22px;
	color: #2d3033;

	margin-top: 20px;
}

.team__prof {
	font-size: 13px;
	text-transform: uppercase;
	color: #e84545;

	margin-top: 5px;
}

.team__footer {
	display: flex;
	margin-top: 30px;
}

.team__footer__item {
	display: block;
	width: 40px;
	height: 40px;
	
	padding: 5px 0;
	margin-right: 5px;
	
	font-size: 18px;
	color: #c6cacc;
	text-align: center;

	border: 1px solid #e7ebed;
}

/*Clients*/
.clients {
	display: flex;
	flex-wrap: wrap
}

.clients__item {
	width: 50%;
}

.clients__item--comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #53354a;
}

.clients__img {
	display: block;
	width: 100%;
	height: auto;
}

.clients__inner {
	width: 70%;
	padding-left: 80px;

	color: #fff;
}

.clients__text {
	margin-bottom: 20px;
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 36px;
}

.clients__name {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.download {
	color: #2d3033;
	text-align: center;
}

.download__title {
	font-size: 28px;
	font-weight: 300;
}

.download__subtitle {
	margin-top: 20px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.download__btn {
	display: inline-block;
	padding: 18px 80px;
	margin-top: 40px;

	background-color: #e84545;

	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

/*About*/
.footer {
	background-color: #3a3e64;
}

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about__item {
	width: 31%;
	text-align: center;
}

.about__title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.about__social {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.about__social__item {
	display: inline-block;
	width: 40px;
	height: 40px;
	
	padding: 5px 0;
	margin-right: 5px;
	
	font-size: 18px;
	text-align: center;
	border: 2px solid #fff;
	color: #fff;
}

.about__social__item:last-child {
	margin-right: 0;
}

.location__text {
	width: 50%;
	margin: 0 auto;
}

/*Copyright*/
.copyright {
	background-color: #313454;
	padding: 30px 0;
}

.copyright__inner {
	width: 100%;
	margin: 0 auto;

	text-align: center;
}

.copyright__y {
	color: #e84545;
}

.copyright__name {
	color: #fff;
}

@media (max-width: 1230px) {
	/*Clients*/
	.clients__inner {
		width: 100%;
		padding: 0 20px;
	}

	.clients__text {
		font-size: 25px;
	}
}

@media (max-width: 990px) {
	.container {
		padding: 0 40px;
	}

	/*Intro*/
	.intro__inner {
		max-width: 650px;
	}

	.intro__title {
		font-size: 45px;
	}

	/*Header*/
	.logo {
		font-size: 30px;
	}

	/*Nav*/
	.nav__link {
		margin-left: 25px;
	}

	/*Features*/
	.features__item {
		width: 45%;
	}

	/*Works*/
	.works__item {
		width: 49.935%;
	}

	/*Team*/
	.team {
		margin-bottom: -50px;
	}

	.team__item {
		width: 45%;
		margin-bottom: 50px;
	}

	/*About*/
	.about__item {
		width: 33.33333%;
	}

	.about__social__item {
		font-size: 16px;
		width: 30px;
		height: 30px;
		padding: 0;
	}
}


@media (max-width: 770px) {
	/*Intro*/
	.intro__inner {
		max-width: 550px;
	}

	.intro__title {
		font-size: 40px;
	}

	/*Header*/
	.header__inner {
		padding-bottom: 5px;
	}

	/*Nav*/
	.nav {
		display: none;
		width: 100%;

		position: absolute;
		top: 90px;
		left: 15px;
	}

	.nav__link {
		display: block;
		border-bottom: 1px solid #4e5167;
		font-size: 20px;
	}

	.nav__toggle {
		display: block;
	}

	/*Clients*/
	.clients__item {
		width: 100%;
	}

	.clients__inner {
		padding: 40px;
	}

	/*Download*/
	.download__title {
		font-size: 22px;
	}

}

@media (max-width: 575px) {
	/*Intro*/
	.intro__inner {
		max-width: 450px;
		padding: 0 20px;
		margin-top: 40px;
	}

	.intro__title {
		font-size: 30px;
	}

	.intro__text {
		font-size: 17px;
	}

	.intro__btn {
		padding: 15px 40px;
	}

	/*Section*/
	.section {
		padding: 50px 0;
	}

	/*Features*/
	.features {
		justify-content: center;
		margin-bottom: -30px;
	}

	.features__item {
		width: 80%;
		margin-bottom: 30px;
	}

	.features__text {
		font-size: 18px;
	}

	/*Works*/
	.works__item {
		width: 100%;
	}

	/*Team*/
	.team__item {
		width: 100%;
	}

	.team__content {
		font-size: 17px;
	}

	/*Clients*/
	.clients__text {
		font-size: 20px;
	}
	
	/*Download*/
	.download__btn {
		padding: 15px 40px;
	}

		/*About*/
	.about {
		justify-content: center;
	}

	.about__item {
		width: 100%;
		margin-bottom: 50px;
	}

	.about__item:last-child {
		margin-bottom: 0;
	}
}




